{{#unless isTemplate}}
<div class="word-card">
    <h2>{{word}}</h2>
    <p>{{{definition}}}</p>
    <p>{{created}}</p>
    <p>
        <button class="btn btn-default btn-delete btn-delete-word" data-word="{{word}}"><i class="fa fa-trash"></i>Delete</button>
    </p>
    <select class="select-confidence-rate">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>
{{else}}
<div class="word-card">
    <h2>\{{word}}</h2>
    <p>\{{{definition}}}</p>
    <p>\{{created}}</p>
    <p>
        <button class="btn btn-default btn-delete btn-delete-word" data-word="\{{word}}"><i class="fa fa-trash"></i>Delete</button>
    </p>
    <select class="select-confidence-rate">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>
{{/unless}}