{{#unless isTemplate}}
<div class="word-card">
  <div class="card-content">
    <h2 class="word"><a href="/word/{{word}}">{{word}}</a></h2>
    <p class="definition">{{{definition}}}</p>
    <p class="created" data-epoch="{{createdEpoch}}">{{created}}</p>
  </div>
  <div class="btn-toggle-actions">
    <i class="fa fa-bars"></i>
  </div>
  <div class="card-actions">
    <select class="select-rate">
      <option value="1"{{#compare currentRate 1}} selected="selected"{{/compare}}>1</option>
      <option value="2"{{#compare currentRate 2}} selected="selected"{{/compare}}>2</option>
      <option value="3"{{#compare currentRate 3}} selected="selected"{{/compare}}>3</option>
      <option value="4"{{#compare currentRate 4}} selected="selected"{{/compare}}>4</option>
      <option value="5"{{#compare currentRate 5}} selected="selected"{{/compare}}>5</option>
    </select>
    <button class="btn btn-default btn-delete-word" data-word="{{word}}"><i class="fa fa-trash"></i></button>
    <button class="btn btn-default btn-star-word{{#if starred}} starred{{/if}}" data-word="{{word}}"><i class="fa fa-star"></i></button>
    <button class="btn btn-default btn-rate-word" data-word="{{word}}"><i class="fa fa-check"></i></button>
  </div>
  <div class="clearfix"></div>
</div>
{{else}}
<div class="word-card">
  <div class="card-content">
      <h2 class="word"><a href="/word/\{{word}}">\{{word}}</a></h2>
      <p class="definition">\{{{definition}}}</p>
      <p class="created">\{{created}}</p>
  </div>
  <div class="btn-toggle-actions">
    <i class="fa fa-bars"></i>
  </div>
  <div class="card-actions">
    <select class="select-rate">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button class="btn btn-default btn-delete-word" data-word="\{{word}}"><i class="fa fa-trash"></i></button>
    <button class="btn btn-default btn-star-word\{{#if starred}} starred\{{/if}}" data-word="\{{word}}"><i class="fa fa-star"></i></button>
    <button class="btn btn-default btn-rate-word" data-word="\{{word}}"><i class="fa fa-check"></i></button>
  </div>
  <div class="clearfix"></div>
</div>
{{/unless}}
