{{#extend "styles"}}
{{{css "progress-main"}}}
{{/extend}}

{{#if word}}
<h1>{{word.word}}</h1>
<div class="clearfix"></div>
<hr>
<div class="row">
    <h2>Confidence Rate</h2>
    <div class="col-md-12">
        <div class="legend"></div>
        <canvas class="chart"></canvas>
    </div>
</div>
<hr>
<div class="row">
    <h2>Statistics</h2>
    <div class="col-md-6">
        <h3>Learning Rate for this Word</h3>
        <ul>
          <li><strong>You:</strong> JustStarted / Good / Average / Bad</li>
          <li><strong>Other's:</strong> JustStarted / Good / Average / Bad</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Time Taken to Memorize</h3>
        <ul>
          <li><strong>You:</strong> x days</li>
          <li><strong>Other's:</strong> x days</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Example Sentences From Others</h3>
        <ul>
            <li>Foo bar biz baz.</li>
            <li>Foo bar biz baz.</li>
            <li>Foo bar biz baz.</li>
        </ul>
    </div>
</div>
{{else}}
<h1>Non-existing word!</h1>
<hr>
<p class="lead">It seems that you haven't added that word yet.</p>
{{/if}}

{{#extend "scripts"}}
{{#if word}}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script>
window.ratingsData = {{{json word.ratings}}};
</script>
{{{js "bower_components/Chart.js/Chart.min"}}}
{{{js "progress-main"}}}
{{/if}}
{{/extend}}